body
{
    background: white;
}
@media screen and (min-width: 1000px)
{
    .collumn-4
    {
        width:100%;
    }
    @font-face {
        font-family: 'SF Pro Display Ultralight';
        src: local('SF Pro Display Ultralight'), local('SF-Pro-Display-Ultralight'),
        url('/fonts/SFProDisplay-Ultralight.ttf') format('truetype');
        font-weight: 100;
        font-style: normal;
    }
    @font-face {
        font-family: 'SF Pro Display Light';
        src: local('SF Pro Display Light'), local('SF-Pro-Display-Light'),
        url('/fonts/SFProDisplay-Light.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
    }
    @font-face {
        font-family: 'SF Pro Display Medium';
        src: local('SF Pro Display Medium'), local('SF-Pro-Display-Medium'),
        url('/fonts/SFProDisplay-Medium.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'SF Pro Display Bold';
        src: local('SF Pro Display Bold'), local('SF-Pro-Display-Bold'),
        url('/fonts/SFProDisplay-Bold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }
    @font-face {
        font-family: 'SF Pro Display Black';
        src: local('SF Pro Display Black'), local('SF-Pro-Display-Black'),
        url('/fonts/SFProDisplay-Black.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;
    }

    .sf-ultralight
    {
        font-family: "SF Pro Display Ultralight";
    }
    .sf-light
    {
        font-family: "SF Pro Display Light";
    }
    .sf-medium
    {
        font-family: "SF Pro Display Medium";
    }
    .sf-bold
    {
        font-family: "SF Pro Display Bold";
    }
    .sf-black
    {
        font-family: "SF Pro Display Black";
    }
}

/*  ШРИФТЫ  */
#logo
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    animation: fill 1s ease forwards 2s, slidin 1s ease forwards 2.5s;
    /*animation: slidin 1s ease forwards 3s;*/
}
.crm
{
    opacity:0;
    animation: opac 1s ease forwards 3.2s;
}
#logo path:nth-child(1)
{
    stroke-dasharray: 697px;
    stroke-dashoffset: 697px;
    animation: line-anim 1s ease forwards;
}
#logo path:nth-child(2)
{
    stroke-dasharray: 510px;
    stroke-dashoffset: 514px;
    animation: line-anim 1s ease forwards 0.3s;
}
#logo path:nth-child(3)
{
    stroke-dasharray: 510px;
    stroke-dashoffset: 514px;
    animation: line-anim 1s ease forwards 0.6s;
}
#logo path:nth-child(4)
{
    stroke-dasharray: 510px;
    stroke-dashoffset: 514px;
    animation: line-anim 1s ease forwards 0.9s;
}
#logo path:nth-child(5)
{
    stroke-dasharray: 510px;
    stroke-dashoffset: 514px;
    animation: line-anim 1s ease forwards 1.2s;
}

@keyframes line-anim {
    to
    {
        stroke-dashoffset: 0px;
    }
}
@keyframes fill {
    from
    {
        fill:transparent;
    }
    to
    {
        fill:white;
    }
}
@keyframes slidin {
    to
    {
        transform: translate(-91%,-50%);
    }
}
@keyframes opac {
    to
    {
        opacity:1;
    }
}
.category-btn
{
    font-size:11px;
    line-height: 13px;
    text-transform: uppercase;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
    border-radius:3px;
}
.work-desk
{
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}
.head-text
{
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #000000;
}
.work-check
{
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.work-check .last-child {
    color:#5EB137;
}

.work-check .first-child {
    color: #A8A8A8;
}
.blog-scroll
{
    height: 70vh;
    overflow-Y: auto;
}
.blog-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.blog-scroll::-webkit-scrollbar
{
    width: 3px;
    background-color: #F5F5F5;
}

.blog-scroll::-webkit-scrollbar-thumb
{
    background-color: #130926;
}
.point
{
    transition: 0.2s;
}
.sidebar
{
    width:60px;
}
.point
{
    height:60px;
    width:60px;
}
.point:hover
{
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
    border-radius:50%;

}
.point-ico
{
    width:25px!important;
}
.deal-text
{
    font-size: 11px;
    line-height: 14px;
    color: #000000;
    font-family: "SF Pro Display Medium";
}
.ico-done, .ico-delete, .ico-update, .ico-edit, .ico-change
{
    transition: 0.3s;
    color:#6c757d;
}
.ico-done:hover
{
    color: #64dd17;
    transform: rotateZ(360deg);
}
.ico-delete:hover
{
    color: #ff5252;
    transform: rotateZ(360deg);
}
.ico-update:hover
{
    color: #3d5afe;
    transform: rotateZ(360deg);
}
.ico-edit:hover
{
    color: #fdd835;
    transform: rotateZ(360deg);
}
.ico-change:hover
{
    color: #40c4ff;
    transform: rotateZ(360deg);
}
.textarea-font-size
{
    font-size:12px;
    line-height: 14px;
}
.confirm-but
{
    font-size: 11px;
    border-radius: 3px;
}
.collona
{
    width:20%;
}
.hide-bg
{
    animation: behindbg 3s ease forwards 3.5s;
}
@keyframes behindbg {
    from
    {
        background: transparent;
    }
    to
    {
        background: rgb(19, 9, 38);
    }
}
.toner
{
    transition: 0.2s;
    opacity: 0;
    max-height: 0;
}

.mainer
{
    transition: 0.5s;
}
.mainer:hover .toner
{
    opacity: 1;
    background: white;
    max-height: 1000px;
}
.create-point
{
    font-family: "SF Pro Display Light";
    font-size: 12px;
    line-height:14px;
    color: #A5A5A5;
}
.report-man
{
    font-size: 30px;
    color: black;
}
.report-border
{
    border-bottom: 1px solid #cccccc;
}
.report-cal
{
    font-size: 16px;
    color:black;
}
.nav-tabs
{
    border-bottom: 0px;
}
.report-tabs
{
    background-color:#ffffff;
    border-radius:2px;
    /*border:2px solid #ffffff;*/
}
.report-tabs-link
{
    color:#000000;
}
.report-tabs-link.active
{
    border-radius: 2px!important;
    font-weight: bold;
    color:#5713AE!important;
    border:1px solid #5713AE!important;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
}
.type-tab
{
    background-color: #fefefe;
    /*box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);*/
    border-radius: 5px;
    height:100%;
}
.type-svg
{
    fill:#fff;
}
.meet-type
{
    background-color: #E66161;
}
.custom-type
{
    background-color: #3F2FD2;
}
.call-type
{
    background-color: #F9C02E;
}
.task-type
{
    background-color: #3BD654;
}
.type-header
{
    font-size:25px;
    color: #000000;
}
.meet-header
{
    color:#E66161;
}
.custom-header
{
    color:#3F2FD2;
}
.call-header
{
    color:#F9C02E;
}
.task-header
{
    color:#3BD654;
}
.type-desc
{
    color:#000000;
    font-size: 13px;
}
.plan-collumn
{
    /*border-radius: 10px ;*/
}
.collumn-4
{
    width:25%;
}
.report-block
{
    background-color:#ffffff;
    border-radius:5px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
}
.title-task
{
    font-size:12px;
    line-height: 110%;
    color: #a8a8a8;
}
.task-name
{
    font-size: 12px;
    line-height: 110%;
    color:#000000;
}
.task-ico
{
    opacity:0;
}
.task-point
{
    transition: 0.4s;
}
.task-point:hover .task-ico
{
    opacity: 1;
}
.task-button
{
    border-radius: 20px;
}
.task-point:hover
{
    box-shadow: 10px 14px 40px rgba(0, 0, 0, 0.1);
}
.point-text
{
    font-size: 14px;
    line-height: 17px;
    color:#000000;
    font-weight: bold;
}
.item-data
{
    background-color:#fefefe;
    transition: 0.4s;
}
.item-data:hover
{
    background-color:#F4F4F4;
}
@media only screen and (max-width: 700px)
{
    .collona
    {
        width:100%;
    }
    .deal-text
    {
        font-size: 14px;
        line-height: 14px;
        color: #000000;
        font-family: "SF Pro Display Medium";
    }
}
.bt-li {
    font-size: 12px;
        display: flex;
    align-items: center;
}
.bt-li:hover {
    background: #6620bb;

    font-size: 12px;
}
.border-greener
{
    border-left:3px solid greenyellow;
}