body
{
    background: white;
}

/*  ШРИФТЫ  */
@font-face {
    font-family: 'SF Pro Display Ultralight';
    src: local('SF Pro Display Ultralight'), local('SF-Pro-Display-Ultralight'),
    url('/fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display Light';
    src: local('SF Pro Display Light'), local('SF-Pro-Display-Light'),
    url('/fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display Medium';
    src: local('SF Pro Display Medium'), local('SF-Pro-Display-Medium'),
    url('/fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display Bold';
    src: local('SF Pro Display Bold'), local('SF-Pro-Display-Bold'),
    url('/fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display Black';
    src: local('SF Pro Display Black'), local('SF-Pro-Display-Black'),
    url('/fonts/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

.sf-ultralight
{
    font-family: "SF Pro Display Ultralight";
}
.sf-light
{
    font-family: "SF Pro Display Light";
}
.sf-medium
{
    font-family: "SF Pro Display Medium";
}
.sf-bold
{
    font-family: "SF Pro Display Bold";
}
.sf-black
{
    font-family: "SF Pro Display Black";
}


.main-trans
{
    animation: trans 15s infinite;
}
.second-trans
{
    animation: transsec 15s infinite;
}
.third-trans
{
    animation: transt 15s infinite;
}
.fourth-trans
{
    animation: transfour 15s infinite;
}
@keyframes trans {
    0%{
        transform: translateX(10vw);
    }
    35%
    {
        transform: translateX(80vw);
    }
    85%
    {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(10vw);
    }
}
@keyframes transsec {
    0%{
        transform: translateY(10vh);
    }
    35%
    {
        transform: translateY(65vh);
    }
    85%
    {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(10vh);
    }
}
@keyframes transt {
    0%{
        transform: translateX(-10vw);
    }
    35%
    {
        transform: translateX(-80vw);
    }
    85%
    {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-10vw);
    }
}
@keyframes transfour {
    0%{
        transform: translateY(-10vh);
    }
    35%
    {
        transform: translateY(-65vh);
    }
    85%
    {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(-10vh);
    }
}